#login
{
    display: flex;
    justify-content:center;
    align-items:center;
}
#logo
{
    display: flex;
    justify-content:center;
    align-items:center;
}
#search {
    display: flex;
    justify-content: center;
    align-items: center;
}
#cart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameLogin
{
    color: white;
}

